.contact-form-wrapper {
	@include test;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.contact-form {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 30px;
	max-width: 500px;

	input,
	textarea {
		width: 100%;
		height: 40px;
		border: 1px solid #ccc;
		border-radius: 5px;
		padding: 0 10px;
		margin-bottom: 10px;
	}

	textarea {
		padding: 10px;
		height: 100px;
		width: 100%;
		resize: vertical;
	}
}
