// footer is mobile first

.footer {
    margin-top: 10px;
	display: flex;
	background-color: shade($blue, 50%);
	flex-direction: column;
	justify-content: space-between;

	* {
		color: rgb(140, 140, 140) !important;
	}

	&__links {
		padding: 20px;
		font-size: 0.8em;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border-bottom: 1px solid black;

		ul {
			display: flex;
			flex-direction: column;
			align-items: center;

			list-style: none;
			margin: 0;
			padding: 0;
			display: flex;
			// margin-bottom: 10px;

			li {
				margin: 0 10px;
				a {
					&:hover {
						color: $white !important;
					}
				}
			}
		}
	}

	// MEDIA QUERIES

	@include desktop {
		flex-direction: row;

		> div {
			margin: 20px;
		}

		&__links {
			border: none;
			ul {
				flex-direction: row;
			}
		}
	}
}

.social {
	display: flex;
	align-items: center;
	justify-content: center;

	&__item {
		margin: 10px;
		width: 32px;
	}
}
