
li.ant-menu-item-selected {
	&::after {
		border-bottom: 2px solid white !important;
	}
}

.header {
	width: 100%;
	background-color: #105a80;
	color: #ecf0f3;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	padding: 20px 40px;

	ul {
		display: flex;
		width: 100%;
		justify-content: space-between !important;
		align-items: center;
		list-style: none;

		li a {
			margin: 5px 25px;
			font-weight: 500;
		}

		li a :hover {
			color: #ecf0f3;
		}
	}
	.logo {
		cursor: pointer;
		margin-right: 10px;
		p {
			font-size: 8px;
		}
		h1 {
			font-size: 20px;
			letter-spacing: 0.7px;
		}
	}

	.toggle {
		display: none;
	}
}

@include lt-sm {
	.header {
		padding: 20px;
		@include test;

		ul {
			width: 100%;

			> li {
				padding: 0;
			}
		}
		.link {
			display: none;
		}

		.toggle {
			width: 25px;
			height: 100%;
			display: flex;
			flex-flow: column;
			justify-content: space-around;
			align-items: center;
			box-sizing: border-box;
			cursor: pointer;
			padding: 10px 0;
			margin-right: 20px;
		}
		.toggle div {
			width: 100%;
			padding: 1px;
			margin: 2px;
			background-color: #ecf0f3;
		}
	}
}
