.info-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.info-main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 800px;
	margin-top: 50px;

	font-size: 1.1em;

	h1 {
		text-align: center;
	}

	p {
		text-align: justify;
	}

	a {
		max-width: 300px;
	}

	@include tablet {
		font-size: 1.2em;
	}

	@include laptop {
		font-size: 1.3em;
	}

	@include desktop {
		font-size: 1.5em;
	}
}
