.timeline {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

    margin: 0 10px;

    > h2{
        font-size: 1.2em;
    }

	.config1 {
		h3,
		h4,
		p {
			color: white !important;
		}

		span {
			color: white;
		}

		@include laptop {
			span {
				color: $blue;
			}
		}
	}

	.config2 {
		h3,
		h4,
		p {
			color: $blue !important;
		}

		span {
			color: $blue;
		}
	}

    @include tablet{
        margin: 0;
    }

}
