@mixin sectionPadding {
  padding: 60px 0;
}

@mixin test {
  border: 1px solid violet;
}

@mixin test1 {
  border: 1px solid palegreen;
}

@mixin test2 {
  border: 1px solid aqua;
}


@mixin inverse($color, $bgColor) {
  color: $bgColor;
  background-color: $color;
}


// // main styles for submit button
// @mixin submit-button {
// 	border: none;
// 	font-size: large;
// 	height: 35px;
// 	background-color: $blue;
// 	color: $white;

// 	border-radius: 5px;
// 	box-shadow: $shadow_200;
// }