.button {
	display: flex;
	align-items: center;
	justify-content: center;
	// height: 40px;
	background-color: $blue;
	color: white;
	border-radius: 5px;
	padding: 10px 20px;
	transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
	border: 1px solid $blue;


	> svg {
		margin-left: 10px;
		width: 20px;
		height: 20px;
	}

	&:hover {
		color: $blue;
		background-color: $white;
		// box-shadow: $shadow;
		border: 1px solid #eef;
		// color: red;
        cursor: pointer;
	}
}


label{
    cursor: pointer;

}